ul{
    background-color: black;
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

li{
    padding-left: 20px;
    float: left;
}

a{
    display: block;
    padding: 12px 6px;
    color: white;
    text-decoration: none;
}

.active{
    background-color: yellow;
    color: rgb(2, 2, 2);
}