.container{
    width: 100%;
}


.column{
    display: block;
    background-color: rgba(123, 122, 122, 0.485);
    position: relative;
    width: max-content;
    /* top:10px; */
    left: 110px;
    float: left;
    margin-top: 15px;
    margin-right: 10px ;
    margin-bottom: 10px;
}



.column img{
    max-width: 400px;
}

.column button{
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 2px;
}

.submit{
    height: 0;
}
.Footer{
    position: relative;
    clear: both;
}